.editProfileForm__input {
	width: 358px;
	margin: 0 0 30px 36px;
	padding-bottom: 13px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width:321px) {
    .editProfileForm__input {
		font-size: 14px;
		line-height: 17px;
		margin: 30px 0 0 22px;
    }
} 