.header{
	max-width: calc(100% - 2*200px);
	margin: 45px auto 0;
	
	border-bottom: 1px solid rgb(84,84,84, 0.7);
}

@media screen and (min-width:751px) and (max-width:1280px) {
    .header {
		max-width: calc(100% - 2*50px);
    }
}
@media screen and (min-width:321px) and (max-width:750px) {
    .header {
		max-width: calc(100% - 2*30px);
    }
} 
@media screen and (max-width:320px) {
    .header {
		max-width: 100%;
		margin-top: 28px;
    }
} 