.ProfileInfo {
	color: #fff;
	margin-left: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
@media screen and (max-width:321px) {
    .ProfileInfo {
		margin: 0 auto;
		max-width: calc(100% - 2*19px);
		text-align: center;
    }
} 