/*normalize*/
@import url(../vendor/normalize.css);
/*шрифты*/
@import url(../vendor/fonts.css);
/*page*/
@import url(../blocks/page/page.css);
/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-for-img/popup__container-for-img.css);
@import url(../blocks/popup/__container/_img/popup__container_img.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/_img/popup__close_img.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__text/popup__text.css);
/*edit-profile-form*/
@import url(../blocks/edit-profile-form/__header/edit-profile-form__header.css);
@import url(../blocks/edit-profile-form/__input/edit-profile-form__input.css);
@import url(../blocks/edit-profile-form/__save/edit-profile-form__save.css);
@import url(../blocks/edit-profile-form/edit-profile-form.css);
/*add-card-form*/
@import url(../blocks/add-card-form/__header/add-card-form__header.css);
@import url(../blocks/add-card-form/__input/add-card-form__input.css);
@import url(../blocks/add-card-form/__save/add-card-form__save.css);
@import url(../blocks/add-card-form/add-card-form.css);
/*content*/
@import url(../blocks/content/content.css);
/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/*profile_info*/
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__header/profile-info__header.css);
@import url(../blocks/profile-info/__description/profile-info__description.css);
@import url(../blocks/profile-info/__edit-button/profile-info__edit-button.css);
/*elements*/
@import url(../blocks/elements/elements.css);
/*element*/
@import url(../blocks/element/element.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__place/element__place.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__trash/element__trash.css);
@import url(../blocks/element/__like/_enabled/element__like_enabled.css);
/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);